<h1>Editing Criptocurrency History</h1>

<%= render 'form', criptocurrency_history: @criptocurrency_history %>

<%= link_to 'Show', @criptocurrency_history %> |
<%= link_to 'Back', criptocurrency_histories_path %>
