<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @criptocurrency_history.name %>
</p>

<%= link_to 'Edit', edit_criptocurrency_history_path(@criptocurrency_history) %> |
<%= link_to 'Back', criptocurrency_histories_path %>
