<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @criptocurrency.name %>
</p>

<%= link_to 'Edit', edit_criptocurrency_path(@criptocurrency) %> |
<%= link_to 'Back', criptocurrencies_path %>
